    .big-chart {
        width:100%;
        height:220px;
      }
      .line-chart {
        width:100%;
        height:100px;
      }
      .donut {width:100%;height:150px;min-width:150px;}
      
      .donut-label {
        position:absolute;
        left:45%;
        font-size:22pt;
        color:#ddd;
        width:100%;
        top:38%;
      }